$font-stack: 'Inknut Antiqua', sans-serif;
$btn-color: #FF8629;

nav {
  background-color: #76A6DA;
  font: 100% $font-stack;

  a {
    color: #fff;
    font-weight: 700;
  }

}

.btn {
  background-color: $btn-color;
  color: #ffffff;
}

