main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
};

main h1, h2 {
  font-family: 'Inknut Antiqua', sans-serif;
  margin: 60px 0;
}

section#quizzes {
  text-align: center;
}

ul.quiz-list {
  padding: 0;
  text-align: left;
}

li.quiz {
  list-style: none;
}

button {
  background-color: #FF8629;
  color: #fff;
  border: none;
  padding: 6px 10px;
}

form {
  background-color: #E9F4FF;
}

input[type="submit"] {
  background-color:#FF8629;
  color: #fff;
  padding: 6px 20px;
  border: none;
  margin-top: 16px;

}
