section h2 {
  text-align: center;
}

form .qNumber {
  font-size: 1.5rem;
  color: rgb(15, 130, 245);
}

form .question {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 7px 0;
}

form .answers {
  font-size: 1.1rem;
  padding: 5px 0;
}

form .next {
  margin-top: 7px;
  padding: 5px 15px;
  font-size: 1.2rem;
}

form .submit {
  margin-top: 7px;
  padding: 5px 15px;
  font-size: 1.2rem;
}