<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <nav>
    <a href="#">Quiz App</a>
    <div>
      <button>SignUp</button>
      <button>Login</button>
    </div>
  </nav>
  <header>Welcome to Quiz APP</header>
  <section>
    <div>Quiz 1 - Public quiz 1 - Science</div>
    <div>Quiz 1 - Public quiz 1 - Technology</div>
    <div>Quiz 1 - Public quiz 1 - Fashion</div>
  </section>
</body>
</html>
