<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include('./partials/_head') %>

    <title>Quiz App - New Quiz</title>

    <link rel="stylesheet" type="text/css" href="/styles/new-quiz.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/submit_new_quiz.js"></script>

  </head>

  <body>
    <header>
      <%- include('./partials/_header') %>
    </header>

    <main class="container d-flex flex-column align-items-center my-5">

      <h1>Create a New Quiz</h1>
      <form class="p-5" id="quiz-form" action="/quizzes/new" method="post">

        <div id="quiz-info" class="d-flex flex-column">
          <div class="mb-4">
            <label for="quiz-name" class="submit_quiz">Quiz Name:</label>
            <input type="text" id="quiz-name" class="submit_quiz" name="quiz_name" required>
          </div>

          <div class="mb-4">
           <label for="private" class="submit_quiz">Private:</label>
            <input type="checkbox" id="private" class="submit_quiz" name="private">
          </div>

          <button type="button" id="next" class="btn submit_quiz">Next</button>
        </div>

      </form>

    </main>


    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
