<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz App - New Quiz</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="/../public/styles/new-quiz.css" />

    <!-- Add Inknut Antiqua font to file -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>New Quiz</h1>
    </header>
    <form action="/quizzes" method="post">
      <label for="category">Category/Quiz Name:</label><br />
      <input
        type="text"
        id="category"
        name="category"
        placeholder="Ex: Our Solar System"
      /><br />
      <br /><br />
      <!-- MUST INSERT EJS HERE LATER TO AUTOMATICALLY DISPLAY QUESTION NUMBER -->
      <label for="question">Question # PLACEHOLDER :</label><br />
      <input
        type="text"
        id="question"
        name="question"
        placeholder="Ex: What is the 5th closest planet to the sun?"
      /><br />
      <br /><br />
      <label for="option1">Option 1:</label><br />
      <input
        type="text"
        id="option1"
        name="option1"
        placeholder="Ex: Earth"
      /><br />
      <input type="radio" id="correct1" name="correct" value="1" />
      <label for="correct1">Correct Answer</label><br />
      <br /><br />
      <label for="option2">Option 2:</label><br />
      <input
        type="text"
        id="option2"
        name="option2"
        placeholder="Ex: Jupiter"
      /><br />
      <input type="radio" id="correct2" name="correct" value="2" />
      <label for="correct2">Correct Answer</label><br />
      <br /><br />
      <label for="option3">Option 3:</label><br />
      <input
        type="text"
        id="option3"
        name="option3"
        placeholder="Ex: Saturn"
      /><br />
      <input type="radio" id="correct3" name="correct" value="3" />
      <label for="correct3">Correct Answer</label><br />
      <br /><br />
      <label for="option4">Option 4:</label><br />
      <input
        type="text"
        id="option4"
        name="option4"
        placeholder="Ex: Mercury"
      /><br />
      <input type="radio" id="correct4" name="correct" value="4" />
      <label for="correct4">Correct Answer</label><br /><br />
      <br /><br />
      <input type="submit" value="Submit" />
    </form>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
